.success_message {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.error_message {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.users-table {
  max-width: fit-content;
}

.login-form {
  max-width: fit-content;
  max-height: fit-content;
}

.login-container {
  min-height: 350px;
}
